<div class='content'>
  <h2>Add new!</h2>

  <div class='row'>
    <div class='col-md-4 form-field'>
      <% if @cuisine.errors.any? %>
        <% @cuisine.errors.full_messages.each do |err_message| %>
          ! <%= err_message %><br>
        <% end %>
      <% end %>

      <%= bootstrap_form_for @cuisine do |f| %>
          <%= f.text_field :name, class: 'form-text', :placeholder => 'Cuisine type' %>
          <%= f.text_area :recipe, class: 'text-area form-text', :placeholder => 'What are your favorite recipes from this region?' %>
          <%= f.text_field :tag_ids, :value => "", class: 'tag-cloud form-text', 'data-role'=>'tagsinput', :placeholder => '#Hashtags', hide_label: :true  %>
          <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
