<!DOCTYPE html>
<html>
<head>
  <title>Streaterie</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fredoka+One">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script>
</script>

<% if @current_user %>

  <body>
  <div class='page-header'>
      <h1>
        <strong>Streaterie</strong>
      </h1>
  </div>
  <!-- ze navbar -->
  <nav class='container navbar navbar-default' role='navigation'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse'
        data-target='#example-navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div class='container collapse navbar-collapse' id='example-navbar-collapse'>
      <ul class='nav navbar-nav'>
        <li class='nav-item'><%= link_to 'Home', root_path %></li>
        <li class='nav-item'><%= link_to 'Add a Cuisine', new_cuisine_path %></li>
        <li class='nav-item'><%= link_to 'Logout', logout_path %></li>
      </ul>

    <!-- Search Bar RH Side -->
     <form class="navbar-form navbar-right" role="search">
      <%= form_tag results_path, :class=> "navbar-form navbar-right", :method => "get" do %>
      <%= text_field_tag :text, nil, :class=> "form-control", :placeholder => "Browse street food" %>
      <%= submit_tag "Search", :class=>'btn btn-primary', :name => nil %>
      <% end %>

    </div>
  </nav>

  <div class='container'>
    <div class='container'>

    <%= yield %>

    </div>
  </div>

  </body>
  </html>

<% else %>

  <body>
  <div class='page-header'>
      <h1>
        <strong>Streaterie</strong>
      </h1>
  </div>
  <!-- ze navbar -->
  <nav class='container navbar navbar-default' role='navigation'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse'
        data-target='#example-navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>
    <div class='container collapse navbar-collapse' id='example-navbar-collapse'>
      <ul class='nav navbar-nav'>
        <li class='nav-item'><%= link_to 'Sign-Up', signup_path %></li>
        <li class='nav-item'><%= link_to 'Login', login_path %></li>
      </ul>
    </div>
  </nav>
  <div class='container'>
    <div class='container'>

    <%= yield %>

    </div>
  </div>

  </body>
  </html>

<% end %>
